.center-box{
        min-width: 1000px;
        height: 350px;
        background-color: #180080;
        margin: 50px;
        align-items: center;
        display: flex;
    }
    .center-item{
        background-color: #f9e4b5;
        height: 100px;
        width: 100px;
        align-items: center;
        margin-left: 550px;
        display: inline-flex;
    }
    #navbar{
        background-color: #6495ee;
        display: flex;
        min-width: 900px;
        align-items: center;
        justify-content: space-around;
        margin: 50px;
    }
    ul > li{
        display: inline-flex;
        font-family: 'Montserrat', sans-serif;

    }
    #links{
        color: white;
        font-family: 'Montserrat', sans-serif;
        display: inline-flex;
    }
    img{
        padding: 10px;
        min-width: 40px;
        height: 70px;
    }
    #links ul li a{
        text-decoration: none;
        color: white;
        margin-left: 100px;
    }
    #menu{
        margin: auto;
    }